
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    width: 100%;
}

input{
    border: none;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width: 60%;
}

button{
    padding: 0.7rem;
    border-radius: 0.7rem;
    background-color: beige;
    color: black;
}

