
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttoncontainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.navbutton{
    padding: 0.7rem;
    border-radius: 0.7rem;
    background-color: beige;
    color: black;
}